@media only screen and (max-width: 1600px) {
  .img1 {
    width: 700px;
    height: 600px;
  }
  .img2 {
    width: 450px;
    height: 295px;
  }
  .photo {
    width: 450px;
}
  .section1 h1{
    font-size: 40px;
  }
  .line-1 {
    width: 600px;
  }
}

@media only screen and (max-width: 1400px) {
    .text {
        width: 90%;
    }
}




@media only screen and (max-width: 1300px) {
    .line {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 80px;
    }
    .footer {
      height: 600px;
    }
  .row1,
  .row3{
      margin-right: 100px;
  }
  .line1,
  .line2 {
      justify-content: space-between;
  }
  .banner {
      font-size: 50px;
  }
  .header {
      padding: 0 60px;
  }
  .line-1 {
    width: 500px;
  }

  .img1 {
    width: 600px;
    height: 500px;
  }
  .img2 {
    width: 350px;
    height: 245px;
  }
.photo {
    width: 350px;
}
.section1 h1 {
    font-size: 30px;
}

  }
  
  @media only screen and (max-width: 1200px) {
    .text {
        flex-direction: column;
        align-items: center;
        padding-bottom: 100px;
    }
    .line-2 {
        margin-top: 50px;
    }
  }
  
  
  
  
  @media only screen and (max-width: 1000px) {
  .row1,
  .row3 {
      margin-right: 0px;
  }
  .row1,
  .row2,
  .row3,
  .row4 {
      width: 200px;
  }
  .line1, 
  .line2 {
      width: 80%;
  }
  .div11 {
      display: none;
  }
  .banner {
      font-size: 45px;
  }
  .fa-bars {
      display: inline-block !important;
  }
  .header {
      padding: 0 50px;
  }
  .nplogo {
      width: 55px;
      height: 55px;
  }
  .ft1 p {
      font-size: 23px;
  }
  .line h3 {
      font-size: 20px;
  }
  .line a {
      font-size: 18px;
  }
  .line p {
      font-size: 18px;
  }
  .flag-1 {
      display: inline-block;
      height: 30px;
      width: 50px;
      margin-right: 20px;
  }
  .bars {
      display: flex;
  }
  .photos {
    flex-direction: column;
    align-items: center;
  }
  .img1 {
    width: 600px;
    height: 450px;
  }
  .img2 {
    width: 600px;
    height: 450px;
  }
  .photo {
    width: 600px;
    margin-left: 0px;
    gap: 5px;
  }
  .section1 h1 {
    font-size: 20px;
  }
  }
  
  @media only screen and (max-width: 800px) {
      .banner {
          font-size: 40px;
      }
      .header {
          padding: 0 40px;
      }
      .tbc {
          width: 60px;
          height: 60px;
      }
      .nplogo {
          width: 50px;
          height: 50px;
      }
      .ft1 p {
          font-size: 20px;
      }
      .banner {
        height: 700px;
    }
  }
  
  @media only screen and (max-width: 700px) {
      .line1,
      .line2 {
          width: 100%;
      }
      .line {
          gap: 50px;
      }
      .header {
          padding: 0 30px;
      }
      .tbc {
          width: 50px;
          height: 50px;
      }
      .banner {
          font-size: 30px;
          height: 600px;
      }
      .line h3 {
          font-size: 18px;
      }
      .line a {
          font-size: 16px;
      }
      .line p {
          font-size: 16px;
      }
      .footer {
          height: 500px;
      }
      .img1 {
        width: 500px;
        height: 380px;
      }
      .img2 {
        width: 500px;
        height: 380px;
      }
      .photo {
        width: 500px;
      }
  }
  @media only screen and (max-width: 600px) {
    .img1 {
        width: 400px;
        height: 280px;
      }
      .img2 {
        width: 400px;
        height: 280px;
      }
      .photo {
        width: 400px;
      }
    .section1 h1 {
        font-size: 16px;
    }
    .line-1 {
        width: 400px;
    }
    .line-2 {
        width: 400px;
    }
    .div1 p {
        font-size: 14px;
        width: 100px;
    }
    .p2 {
        font-size: 12px;
    }
    .time {
        font-size: 12px;
    }
    .time2 {
        font-size: 12px;
        gap: 33px;
    }
    .p1 {
        font-size: 14px;
    }
  }







  @media only screen and (max-width: 500px) {
      .banner {
          font-size: 25px;
      }
      .header {
          padding: 0 20px;
      }
      .nplogo {
          width: 40px;
          height: 40px;
      }
      .ft1 p {
          font-size: 18px;
      }
      .line h4 {
          font-size: 18px;
      }
      .banner {
        height: 500px;
    }
  }
  
  @media only screen and (max-width: 450px) {
      .line h4 {
          font-size: 16px;
      }
      .banner {
        height: 400px;
        font-size: 20px;
    }
    .line-1 {
        width: 300px;
    }
    .line-2 {
        width: 340px;
        height: 200px;
    }
    .div1 {
        gap: 10px;
    }
    .div1 p {
        font-size: 12px;
        width: 80px;
    }
    .p1 {
        font-size: 12px;
    }
    .p2 {
        margin-left: 40px;
    }
    .div-1 {
        gap: 10px;
    }
    .time {
        margin-left: 40px;
    }
    .time2 {
        margin-left: 40px;
    }
    .img1 {
        width: 300px;
        height: 200px;
      }
      .img2 {
        width: 300px;
        height: 200px;
      }
      .photo {
        width: 300px;
      }
      .section1 h1 {
        font-size: 13px;
      }
  }
  
  
  @media only screen and (max-width: 400px) {
      .line h3 {
          font-size: 16px;
      }
      .line a {
          font-size: 14px;
      }
      .line p {
          font-size: 14px;
      }
      .line h4 {
          font-size: 14px;
      }
  }
  
  @media only screen and (max-width: 350px) {
      .line1,
      .line2 {
          display: flex;
          flex-direction: column;
      }
      .footer {
          height: 800px;
      }
      .row2,
      .row4 {
          margin-top: 50px;
      }
      .line1,
      .line2 {
          display: flex;
          justify-content: center;
          align-items: center;
      }
      .row1,
      .row2,
      .row3,
      .row4 {
          width: 155px;
      }
  }













































  
