body {
    font-family: "BPG Glaho", sans-serif;
}

header {
    position: relative;
  }
  
  .header {
    display: flex;
    position: absolute;
    top: 0px;
    background-color: #00000033;
    width: 100%;
    height: 80px;
    align-items: center;
    justify-content: space-between;
    padding: 0 70px;
  }
  
  .div1 {
    display: flex;
    gap: 25px;
    font-weight: bold;
    display: flex;
    align-items: center;
  }
  
  .div1 a {
    color: white;
    text-decoration: none;
  }
  
  .headerphoto {
    width: 100%;
    position: relative;
  }
  
  .banner {
    background-image: url("../images/pic2.jpg");
    width: 100%;
    height: 800px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #dc3545;
    font-size: 50px;
    font-weight: bold;
  }
  
  .div1 a:hover {
    color: #ffae00;
    cursor: pointer;
  }
  
  .tbc {
    width: 70px;
    height: 70px;
    vertical-align: middle;
  }
  
  .fa-solid {
    display: none !important;
  }
  
  .flag {
    width: 100px;
    height: 60px;
  }













.section {
  margin-top: 100px;
  display: flex;
  justify-content: space-around;
}

.card {
  width: 800px;
  margin-bottom: 100px;
  background-color: #09C688 !important;
  border: 2px solid black !important;
}

.card h2 {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.card p {
  text-indent: 30px;
  font-size: 18px;
  font-weight: bold;
  padding: 30px 30px;
}

.photos {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.photo {
  width: 350px;
  height: 280px;
  margin-top: 20px;
}

.map {
  display: flex;
  justify-content: center;
}

.map iframe {
  width: 100%;
}




















footer {
  padding: auto;
}

.footer {
  width: 100%;
  height: 400px;
  background-color: rgba(1, 110, 1, 0.726);
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer1 {
  width: 100%;
  height: 80px;
  background-color: rgba(186, 255, 82, 0.664);
  display: flex;
  vertical-align: middle;
  justify-content: center;
}

.ft1 {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nplogo {
  width: 60px;
  height: 60px;
}

.footer1 p {
  font-size: 25px;
  font-weight: bold;
  color: green;
}

.line {
  width: 80%;
  display: flex;
  justify-content: space-around;
  font-size: 20px;
  color: rgba(186, 255, 82, 0.664);
}

.row1 {
  display: flex;
  flex-direction: column;
  color: rgba(186, 255, 82, 0.664);
  gap: 20px;
}

.row1 a {
  color: rgba(186, 255, 82, 0.664);
}


.line a:hover {
  color: #ffae00;
  cursor: pointer;
  font-weight: 900;
}

.row2 {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.line p:hover {
  color: #ffae00;
}

.social {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.row3 {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.row3 a {
    color: rgba(186, 255, 82, 0.664);
}

.line h3 {
  color: #00ff43;
  font-weight: 900;
}

.row1,
.row2,
.row3 {
  width: 300px;
}

.row4 h4{
  color: #10ff009c;
}

.line1,
.line2 {
  display: flex;
}