body {
    font-family: "BPG Glaho", sans-serif;
}

header {
    position: relative;
  }
  
  .header {
    display: flex;
    position: absolute;
    top: 0px;
    background-color: #00000033;
    width: 100%;
    height: 80px;
    align-items: center;
    justify-content: space-between;
    padding: 0 70px;
  }
  
  .div1 {
    display: flex;
    gap: 25px;
    font-weight: bold;
    display: flex;
    align-items: center;
  }
  
  .div1 a {
    color: white;
  }
  
  .headerphoto {
    width: 100%;
    position: relative;
  }
  
  .banner {
    background-image: url("../images1/vashlovani1.jpg");
    width: 100%;
    height: 800px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 70px;
    font-weight: bold;
  }
  
  .div1 a:hover {
    color: #ffae00;
    cursor: pointer;
  }
  
  .tbc {
    width: 70px;
    height: 70px;
    vertical-align: middle;
  }
  
  .fa-solid {
    display: none !important;
  }
  
  .flag {
    width: 100px;
    height: 60px;
  }













.section {
  margin-top: 100px;
  display: flex;
  justify-content: space-around;
}

.card {
  width: 800px;
  height: 1000px;
  display: flex;
  margin-bottom: 100px;
}

.card h2 {
  display: flex;
  justify-content: center;
}

.card p {
  text-indent: 30px;
}






















.bootstrap {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 500px;
  margin-top: 30px;
  margin-bottom: 50px;
}

.d-block {
  height: 500px;
  width: 500px;
  border: 10px solid rgb(4, 39, 4);
}

.carousel {
  width: 80%;
}

.carousel-control-next,
.carousel-control-prev {
  margin-bottom: 20px;
}

$carousel-control-color:             $white;
$carousel-control-width:             15%;
$carousel-control-opacity:           .5;
$carousel-control-hover-opacity:     .9;
$carousel-control-transition:        opacity .15s ease;

$carousel-indicator-width:           30px;
$carousel-indicator-height:          3px;
$carousel-indicator-hit-area-height: 10px;
$carousel-indicator-spacer:          3px;
$carousel-indicator-opacity:         .5;
$carousel-indicator-active-bg:       $white;
$carousel-indicator-active-opacity:  1;
$carousel-indicator-transition:      opacity .6s ease;

$carousel-caption-width:             70%;
$carousel-caption-color:             $white;
$carousel-caption-padding-y:         1.25rem;
$carousel-caption-spacer:            1.25rem;

$carousel-control-icon-width:        2rem;

$carousel-control-prev-icon-bg:      url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$carousel-control-color}'><path d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/></svg>");
$carousel-control-next-icon-bg:      url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$carousel-control-color}'><path d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/></svg>");

$carousel-transition-duration:       .6s;
$carousel-transition:                transform $carousel-transition-duration ease-in-out; // Define transform transition first if using multiple transitions (e.g., `transform 2s ease, opacity .5s ease-out`)




































