body {
  font-family: "BPG Glaho", sans-serif;
}

header {
  position: relative;
}

header {
  position: relative;
}

.header {
  display: flex;
  position: absolute;
  top: 0px;
  background-color: #00000033;
  width: 100%;
  height: 80px;
  align-items: center;
  justify-content: space-between;
  padding: 0 70px;
}

.div1 {
  display: flex;
  gap: 25px;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.div1 a {
  color: white;
  font-weight: 900;
  text-decoration: none;
}

.headerphoto {
  width: 100%;
  position: relative;
}

.banner {
  background-image: url("../images1/vashlovani1.jpg");
  width: 100%;
  height: 800px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 70px;
  font-weight: bold;
}

.div1 a:hover {
  color: #ffae00;
  cursor: pointer;
}

.tbc {
  width: 70px;
  height: 70px;
  vertical-align: middle;
}

.fa-solid {
  display: none !important;
}

.flag {
  width: 100px;
  height: 60px;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding-top: 57px;
}

.contact2 {
  color: rgb(1 110 1);
  font-size: 37px;
  font-weight: 400px;
  line-height: 56.35px;
  text-transform: capitalize;
  width: 800px;
}

.input {
  width: 100%;
  display: flex;
  margin-top: 57px;
  justify-content: center;
  align-items: center;
}

.div2 {
  height: 298px;
}

.text {
  width: 756px;
  height: 298px;
  background-color: #f8f8f8;
  font-size: 14px;
  font-weight: 700px;
  border: solid 2px;
  border-color: #9d6338;
}

input {
  padding-left: 19px;
  background-color: #f8f8f8;
  font-size: 14px;
  font-weight: bold;
}

textarea {
  padding-top: 23px;
  padding-left: 21px;
  font-size: 14px;
  font-weight: bold;
}

.text1 {
  height: 59px;
  width: 370px;
  display: block;
  margin-bottom: 20px;
  margin-left: 20px;
  background-color: #f8f8f8;
  border: solid 2px;
  border-color: #9d6338;
}

.send {
  background-color: green;
  font-size: 14px;
  font-weight: bold;
  color: #08ff2993;
  cursor: pointer;
}

.send:hover {
  color: #ffbb00;
}

.main-section {
  width: 100%;
  height: 180px;
  display: flex;
  justify-content: space-around;
  margin-top: 51px;
  gap: 50px;
}

.container1 {
  width: 226px;
  height: 157px;
}

.container2 {
  height: 180px;
  width: 138px;
}

.container3 {
  width: 272px;
  height: 157px;
}

.div5,
.div10,
.div14 {
  font-weight: 700px;
  color: rgb(131, 131, 131);
  margin-bottom: 8px;
  display: flex;
  justify-content: center;
}

.div6,
.div7,
.div11 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.div3,
.div8,
.div12 {
  width: 68px;
  height: 68px;
  border-radius: 50%;
  background-color: green;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
}

.div4,
.div9,
.div13 {
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-weight: 700px;
  margin-bottom: 8px;
  display: flex;
  justify-content: center;
}

.header1,
.header2 {
  margin-top: 70px;
  max-width: 1146px;
  width: 90%;
  margin: 0 auto;
}

.header1 {
  padding-top: 70px;
}

.header2 {
  padding-top: 74px;
}

.photo {
  max-width: 1319px;
  width: 90%;
  margin: 0 auto;
  padding-bottom: 100px;
}

.photos {
  margin-top: 53px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.img1 {
  width: 400px;
  height: 350px;
}

.img2 {
  width: 400px;
  height: 350px;
}

.img3 {
  width: 400px;
  height: 350px;
}

.map {
  display: flex;
  justify-content: center;
  margin-bottom: 130px;
}

footer {
  padding: auto;
}

.footer {
  width: 100%;
  height: 400px;
  background-color: rgba(1, 110, 1, 0.726);
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer1 {
  width: 100%;
  height: 80px;
  background-color: rgba(186, 255, 82, 0.664);
  display: flex;
  vertical-align: middle;
  justify-content: center;
}

.ft1 {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nplogo {
  width: 60px;
  height: 60px;
}

.footer1 p {
  font-size: 25px;
  font-weight: bold;
  color: green;
}

.line {
  width: 80%;
  display: flex;
  justify-content: space-around;
  font-size: 20px;
  color: rgba(186, 255, 82, 0.664);
}

.row1 {
  display: flex;
  flex-direction: column;
  color: rgba(186, 255, 82, 0.664);
  gap: 20px;
}

.row1 a {
  color: rgba(186, 255, 82, 0.664);
  text-decoration: none;
}


.line a:hover {
  color: #ffae00;
  cursor: pointer;
  font-weight: 900;
}

.row2 {
  display: flex;
  flex-direction: column;
  gap: 30px;
}


.social {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.row3 {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.row3 a {
    color: rgba(186, 255, 82, 0.664);
    display: flex;
    align-items: center;
    text-decoration: none;
}

.line h3 {
  color: #00ff43;
  font-weight: 900;
  font-size: 25px;
}

.row1,
.row2,
.row3 {
  width: 300px;
}

.row4 h4{
  color: #10ff009c;
}

.line1,
.line2 {
  display: flex;
}