body {
    font-family: "BPG Nateli", sans-serif;
    background-color: #94949446;
}
  
  .header {
    display: flex;
    position: absolute;
    top: 0px;
    background-color: #00000033;
    width: 100%;
    height: 80px;
    align-items: center;
    justify-content: space-between;
    padding: 0 70px;
  }
  
  .div1 {
    display: flex;
    gap: 25px;
    font-weight: bold;
  }
  
  .div1 a {
    color: white;
  }
  
  .div1 a:hover {
    color: #ffae00;
    cursor: pointer;
  }
  
  .tbc {
    width: 70px;
    height: 70px;
    vertical-align: middle;
  }
  
  .fa-solid {
    display: none !important;
  }
  
  .container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding-top: 57px;
  }
  
  .contact2 {
    color: #000000;
    font-size: 49px;
    font-weight: 400px;
    line-height: 56.35px;
    margin-top: 7px;
    text-transform: capitalize;
    width: 600px;
  }
  
  .input {
    width: 100%;
    display: flex;
    margin-top: 57px;
    justify-content: center;
    align-items: center;
  }
  
  .div2 {
    height: 298px;
  }
  
  .text {
    width: 756px;
    height: 298px;
    background-color: #f8f8f8;
    font-size: 14px;
    font-weight: 700px;
    border: solid 1px;
    border-color: rgb(165, 165, 165);
  }
  
  input {
    padding-left: 19px;
    background-color: #f8f8f8;
    font-size: 14px;
    font-weight: bold;
  }
  
  textarea {
    padding-top: 23px;
    padding-left: 21px;
    font-size: 14px;
    font-weight: bold;
  }
  
  .text1 {
    height: 59px;
    width: 370px;
    display: block;
    margin-bottom: 20px;
    margin-left: 20px;
    background-color: #f8f8f8;
    border: solid 1px;
    border-color: rgb(165, 165, 165);
  }
  
  .send {
    background-color: hsl(234, 88%, 65%);
    font-size: 14px;
    font-weight: bold;
    color: #f8f8f8;
    cursor: pointer;
  }

  .send:hover {
    color: #ff0000;
  }
  
  .main-section {
    width: 100%;
    height: 157px;
    display: flex;
    justify-content: space-around;
    margin-top: 51px;
    gap: 50px;
  }
  
  .container1 {
    width: 226px;
    height: 157px;
  }
  
  .container2 {
    height: 157px;
    width: 122px;
  }
  
  .container3 {
    width: 272px;
    height: 157px;
  }
  
  .div5,
  .div10,
  .div14 {
    font-weight: 700px;
    color: rgb(131, 131, 131);
    margin-bottom: 8px;
    display: flex;
    justify-content: center;
  }
  
  .div6,
  .div7,
  .div11 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .div3,
  .div8,
  .div12 {
    width: 68px;
    height: 68px;
    border-radius: 50%;
    background-color: #5968f4;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
  }
  
  .div4,
  .div9,
  .div13 {
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: 700px;
    margin-bottom: 8px;
    display: flex;
    justify-content: center;
  }
  
  .header1, .header2 {
    margin-top: 70px;
    max-width: 1146px;
    width: 90%;
    margin: 0 auto;
  }
  
  .header1 {
    padding-top: 70px;
  }
  
  .header2 {
    padding-top: 74px;
  }
  
  .photo {
    max-width: 1319px;
    width: 90%;
    margin: 0 auto;
    padding-bottom: 100px;
  }
  
  .photos {
    margin-top: 53px;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .img1 {
    width: 400px;
    height: 350px;
  }

  .img2 {
    width: 400px;
    height: 350px;
  }

 .img3 {
    width: 400px;
    height: 350px;
 }