body {
  font-family: "BPG Nostalgia", sans-serif;
}

.background {
  background-color: rgba(0, 255, 0, 0.103);
}

header {
  position: relative;
}

.header {
  display: flex;
  position: absolute;
  top: 0px;
  background-color: #00000033;
  width: 100%;
  height: 80px;
  align-items: center;
  justify-content: space-between;
  padding: 0 70px;
}

.div1 {
  display: flex;
  gap: 25px;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.div1 a {
  color: white;
  text-decoration: none;
}

.headerphoto {
  width: 100%;
  position: relative;
}

.banner {
  background-image: url("../images1/vashlovani1.jpg");
  width: 100%;
  height: 800px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 70px;
  font-weight: bold;
}

.div1 a:hover {
  color: #ffae00;
  cursor: pointer;
}

.tbc {
  width: 70px;
  height: 70px;
  vertical-align: middle;
}

.fa-solid {
  display: none !important;
}

.flag {
  width: 100px;
  height: 60px;
}

.section {
  display: flex;
  justify-content: space-around;
}

.information {
  width: 50%;
  margin-top: 100px;
}

.header1,
.header2,
.header3,
.header4 {
  display: flex;
  justify-content: center;
  font-size: 36px;
  font-weight: bold;
  margin-top: 50px;
  color: #09C688;
}

.text1,
.text2,
.text3,
.text4 {
  font-size: 20px;
  margin-top: 30px;
  line-height: 25px;
  text-indent: 30px;
  color: #484f58;
}

.title1 {
  display: flex;
  justify-content: center;
}

.title1 h2 {
  display: flex;
  justify-content: center;
  width: 20%;
  font-size: 50px;
  font-weight: bold;
  border-radius: 50%;
  background-color: green;
  border: 5px solid hwb(41 17% 39%);
}


.sights li {
  color: #39bf9e;
  font-size: 16px;
}

.routes li {
  color: #39bf9e;
  font-size: 16px;
}

.locations h2 {
  font-size: 24px;
  color: #484f58;
}

.locations {
  margin-top: 160px;
  width: 730px;
}

.sights {
  margin-bottom: 120px;
}

.fa-fade {
  display: flex !important;
  margin-right: 10px;
  margin-top: 17px;
}

.warning {
  padding-top: 60px;
  width: 600px;
  color: #484f58;
}

.warning-logo {
  display: flex;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.check-logo {
  display: flex;
  margin-top: 50px;
}

.fa-triangle-exclamation {
  margin-bottom: 20px;
} 

.prohibition-logo {
  display: flex;
  margin-top: 80px;
}

.fa-sharp {
  display: flex !important;
  margin-top: 15px;
  margin-right: 10px;
}

.sights a{
  color: #39bf9e;
  text-decoration: none;
}

.routes a {
  color: #39bf9e;
  text-decoration: none;
}

.sights a :hover {
  color: #ffae00;
  font-weight: bold;
}

.routes a :hover {
  color: #ffae00;
  font-weight: bold;
}












.map {
  margin-top: 50px;
  margin-bottom: 200px;
}

.location {
  display: flex;
  justify-content: center;
}

.title {
  margin: 100px auto;
  display: flex;
  justify-content: center;
}

.title h2 {
  display: flex;
  justify-content: center;
  width: 50%;
  font-size: 50px;
  font-weight: bold;
  border-radius: 50%;
  background-color: green;
  border: 5px solid hwb(41 17% 39%);
}

.bootstrap {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 1000px;
  margin-top: 100px;
}

.d-block {
  height: 800px;
  width: 100%;
  border: 20px solid rgb(4, 39, 4);
}

.carousel {
  width: 70%;
}

.carousel-control-next,
.carousel-control-prev {
  margin-bottom: 200px;
}



$carousel-control-color: $white;
$carousel-control-width: 15%;
$carousel-control-opacity: 0.5;
$carousel-control-hover-opacity: 0.9;
$carousel-control-transition:        opacity .15s ease;

$carousel-indicator-width: 30px;
$carousel-indicator-height: 3px;
$carousel-indicator-hit-area-height: 10px;
$carousel-indicator-spacer: 3px;
$carousel-indicator-opacity: 0.5;
$carousel-indicator-active-bg: $white;
$carousel-indicator-active-opacity: 1;
$carousel-indicator-transition: opacity 0.6s ease;

$carousel-caption-width: 70%;
$carousel-caption-color: $white;
$carousel-caption-padding-y: 1.25rem;
$carousel-caption-spacer: 1.25rem;

$carousel-control-icon-width: 2rem;

$carousel-control-prev-icon-bg: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$carousel-control-color}'><path d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/></svg>");
$carousel-control-next-icon-bg: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$carousel-control-color}'><path d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/></svg>");

$carousel-transition-duration: 0.6s;
$carousel-transition: transform $carousel-transition-duration ease-in-out; // Define transform transition first if using multiple transitions (e.g., `transform 2s ease, opacity .5s ease-out`)

footer {
  padding: auto;
}

.footer {
  width: 100%;
  height: 400px;
  background-color: rgba(1, 110, 1, 0.726);
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer1 {
  width: 100%;
  height: 80px;
  background-color: rgba(186, 255, 82, 0.664);
  display: flex;
  vertical-align: middle;
  justify-content: center;
}

.ft1 {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nplogo {
  width: 60px;
  height: 60px;
}

.footer1 p {
  font-size: 25px;
  font-weight: bold;
  color: green;
}

.line {
  width: 80%;
  display: flex;
  justify-content: space-around;
  font-size: 20px;
  color: rgba(186, 255, 82, 0.664);
}

.row1 {
  display: flex;
  flex-direction: column;
  color: rgba(186, 255, 82, 0.664);
  gap: 20px;
}

.row1 a {
  color: rgba(186, 255, 82, 0.664);
  text-decoration: none;
}


.line a:hover {
  color: #ffae00;
  cursor: pointer;
  font-weight: 900;
}

.row2 {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.line p:hover {
  color: #ffae00;
}

.social {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.row3 {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.row3 a {
    color: rgba(186, 255, 82, 0.664);
    text-decoration: none;
}

.line h3 {
  color: #00ff43;
  font-weight: 900;
}

.row1,
.row2,
.row3 {
  width: 300px;
}

.row4 h4{
  color: #10ff009c;
}

.line1,
.line2 {
  display: flex;
}