body {
  font-family: "BPG Nostalgia", sans-serif;
}

header {
  position: relative;
}

.header {
  display: flex;
  position: absolute;
  top: 0px;
  background-color: #00000033;
  width: 100%;
  height: 80px;
  align-items: center;
  justify-content: space-between;
  padding: 0 70px;
}

.div1 {
  display: flex;
  gap: 25px;
  font-weight: bold;
}

.div1 a {
  color: white;
}

.headerphoto {
  width: 100%;
  position: relative;
}

.banner {
  background-image: url("../images1/vashlovani1.jpg");
  width: 100%;
  height: 800px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 70px;
  font-weight: bold;
}

.div1 a:hover {
  color: #ffae00;
  cursor: pointer;
}

.tbc {
  width: 70px;
  height: 70px;
  vertical-align: middle;
}

.fa-solid {
  display: none !important;
}







.section {
  display: flex;
  padding-top: 100px;
  justify-content: center;
}

.information {
  width: 40%;
}

.header1, .header2, .header3, .header4 {
  display: flex;
  justify-content: center;
  font-size: 36px;
  font-weight: bold;
  margin-top: 50px;
}


.text1, .text2, .text3, .text4 {
  font-size: 20px;
  margin-top: 30px;
  line-height: 25px;
  text-indent: 30PX;
}

.map {
  margin-top: 50px;
  margin-left: 100px;
}

























.bootstrap {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 1000px;
}


.carousel {
  width: 88%;
}

.carousel-item {
  
}

$carousel-control-color:             $white;
$carousel-control-width:             15%;
$carousel-control-opacity:           .5;
$carousel-control-hover-opacity:     .9;
$carousel-control-transition:        opacity .15s ease;

$carousel-indicator-width:           30px;
$carousel-indicator-height:          3px;
$carousel-indicator-hit-area-height: 10px;
$carousel-indicator-spacer:          3px;
$carousel-indicator-opacity:         .5;
$carousel-indicator-active-bg:       $white;
$carousel-indicator-active-opacity:  1;
$carousel-indicator-transition:      opacity .6s ease;

$carousel-caption-width:             70%;
$carousel-caption-color:             $white;
$carousel-caption-padding-y:         1.25rem;
$carousel-caption-spacer:            1.25rem;

$carousel-control-icon-width:        2rem;

$carousel-control-prev-icon-bg:      url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$carousel-control-color}'><path d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/></svg>");
$carousel-control-next-icon-bg:      url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$carousel-control-color}'><path d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/></svg>");

$carousel-transition-duration:       .6s;
$carousel-transition:                transform $carousel-transition-duration ease-in-out; // Define transform transition first if using multiple transitions (e.g., `transform 2s ease, opacity .5s ease-out`)




































footer {
  padding-top: 200px;
}

.footer {
  width: 100%;
  height: 400px;
  background-color: rgba(1, 110, 1, 0.726);
  display: flex;
  justify-content: center;
}

.footer1 {
  width: 100%;
  height: 80px;
  background-color: rgba(186, 255, 82, 0.664);
  display: flex;
  vertical-align: middle;
  justify-content: center;
}

.ft1 {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nplogo {
  width: 60px;
  height: 60px;
}

.footer1 p {
  font-size: 25px;
  font-weight: bold;
  color: green;
}

.line {
  width: 80%;
  display: flex;
  justify-content: space-around;
  font-size: 20px;
  padding: 106px 0;
  color: rgba(186, 255, 82, 0.664);
}