body {
  font-family: "BPG Arial Caps", sans-serif;
}

.background {
  background-color: rgba(0, 255, 0, 0.103);
}

header {
  position: relative;
}

.header {
  display: flex;
  position: absolute;
  top: 0px;
  background-color: #0000005d;
  width: 100%;
  height: 80px;
  align-items: center;
  justify-content: space-between;
  padding: 0 70px;
}

.div11 {
  display: flex;
  gap: 25px;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.div11 a {
  color: white;
  text-decoration: none;
}

.headerphoto {
  width: 100%;
  position: relative;
}

.banner {
  background-image: url("../images1/vashlovani1.jpg");
  width: 100%;
  height: 800px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 70px;
  font-weight: bold;
}

.div11 a:hover {
  color: #ffae00;
  cursor: pointer;
}

.tbc {
  width: 70px;
  height: 70px;
  vertical-align: middle;
}

.fa-solid {
  display: none !important;
}

.flag {
  width: 100px;
  height: 60px;
}

.flag-1 {
  display: none;
}
.bars {
  display: flex;
  align-items: center;
  display: none;
}

.section {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.photos {
  display: flex;
  justify-content: center;
  width: 90%;
}

.photo {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 10px;
  width: 500px;
}

.img {
  width: 937px;
  height: 760px;
}

.img img {
  width: 500px;
  height: 500px;
}

.section1 {
  display: flex;
  justify-content: center;
  padding-top: 100px;
}

.section1 h1 {
  font-size: 50px;
}

.section2 {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}
.text {
  width: 80%;
  display: flex;
  justify-content: space-between;
  color: #455a64;
  line-height: 20px;
  padding-bottom: 150px;
}

.div {
  font-size: 14px;
  font-weight: bold;
  color: #546e7a;
}

.line1 h2 {
  font-size: 20px;
  font-weight: bold;
}

.line1 h3 {
  font-size: 16px;
  font-weight: bold;
}

.line-2 {
  width: 500px;
  height: 250px;
  border: 1px solid #ebf5fc;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.div1,
.div-1 {
  display: flex;
  padding-bottom: 15px;
  display: flex;
  gap: 25px;
  font-weight: bold;
  align-items: center;
}

.logo {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.logo1 {
  width: 30px;
  height: 30px;
}

.contacts {
  width: 170px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #d4e1f5;
  color: #09c688;
  border-radius: 12px;
}

.contacts-hover :hover {
  background-color: #09c688;
  transition: 0.2s;
  cursor: pointer;
  color: white;
}

.fa-phone {
  display: flex !important;
  margin-right: 10px;
}

.fa-phone:hover {
  color: white !important;
}

.p1 {
  font-size: 16px;
  color: #455a64;
}

.p2 {
  font-size: 14px;
  color: #546e7a;
  margin-left: 56px;
  padding-bottom: 15px;
}

.div-1 {
  padding-bottom: 0px;
}

.time {
  display: flex;
  gap: 30px;
  font-size: 12px;
  margin-left: 56px;
}

.time2 {
  display: flex;
  gap: 25px;
  color: #546e7a;
  margin-left: 56px;
  font-size: 14px;
  font-weight: bold;
}

footer {
  padding: auto;
}

.footer {
  width: 100%;
  height: 400px;
  background-color: rgba(1, 110, 1, 0.726);
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer1 {
  width: 100%;
  height: 80px;
  background-color: rgba(186, 255, 82, 0.664);
  display: flex;
  vertical-align: middle;
  justify-content: center;
}

.ft1 {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nplogo {
  width: 60px;
  height: 60px;
}

.footer1 p {
  font-size: 25px;
  font-weight: bold;
  color: green;
}

.line {
  width: 80%;
  display: flex;
  justify-content: space-around;
  font-size: 20px;
  color: rgba(186, 255, 82, 0.664);
}

.row1 {
  display: flex;
  flex-direction: column;
  color: rgba(186, 255, 82, 0.664);
  gap: 20px;
}

.row1 a {
  color: rgba(186, 255, 82, 0.664);
  text-decoration: none;
}

.line a:hover {
  color: #ffae00;
  cursor: pointer;
  font-weight: 900;
}

.row2 {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.social {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.row3 {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.row3 a {
  color: rgba(186, 255, 82, 0.664);
  display: flex;
  align-items: center;
  text-decoration: none;
}

.line h3 {
  color: #00ff43;
  font-weight: 900;
  font-size: 25px;
}

.row1,
.row2,
.row3 {
  width: 300px;
}

.row4 h4 {
  color: #10ff009c;
}

.line1,
.line2 {
  display: flex;
}
